html,
body,
body * {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: $mainColor;
}

input {
    margin-top: 0;
    margin-bottom: 0;
}

.layout {
    position: relative;
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: $white;
}
