@mixin font($size, $lh, $weight) {
    font-size: $size * 1px;
    line-height: $lh * 1px;
    font-weight: $weight;
}

@mixin animateFade() {
    .fade-enter-active,
    .fade-leave-active {
        transition: opacity 0.5s;
    }
    .fade-enter,
    .fade-leave-to {
        opacity: 0;
    }
}